html {
    height: 100vh;
    margin: 0; /* Elimina márgenes por defecto */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /*min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura */
    display: flex;
    flex-direction: column; /* Para permitir que el footer se mantenga en la parte inferior */
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 95%;
}

.lista {
    margin-left: 300px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 26px; /* Tamaño del nombre de la tienda */
}

.phone-icon {
    width: 40px;
    height: 40px;
    background-color: white; /* Color de fondo del ícono */
    border-radius: 8px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.cell {
    margin-left: 6%;
    margin-bottom: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1; /* Para que el nav ocupe el espacio restante */
    justify-content: center; /* Centrar los elementos en la barra */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; /* Subraya el texto al pasar el mouse */
    color: #FFD700; /* Cambia el color del texto en hover */
}

.cuerpo {
    margin-top: 90px;
    margin-bottom: 100px;
}

footer {
    position: fixed;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
