<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
        <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
        <li><a href = "/login" ><button class="boton" >Inisiar sesion</button></a></li>
        <li><a href = "/home" ><button class="boton" >Inicio</button></a></li>
        <li><a href = "/products" ><button class="boton" >Productos</button></a></li>
        <li><a href = "/contactn" ><button class="boton" >Contacto</button></a></li>
      </ul>
  </nav>
</header>
<div class="contenedorAbsoluto">
  <div></div>


<div class="contenedorAbsoluto">
  <div></div>

  <div class="success-container">
    <h1 class="success-title">¡Registro Exitoso!</h1>
    <p class="success-message">Tu cuenta ha sido creada con éxito. Puedes iniciar sesión ahora.</p>
    <button (click)="navigateToLogin()" class="success-button">Ir a Iniciar Sesión</button>
  </div>

  <div></div>
</div>
<footer>
  <p>&copy; 2024 myStore. Todos los derechos reservados.</p>
  <div class="social-media">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      </div>
</footer>