<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
        <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
        <li><a href = "/home-on" ><button class="boton" >Inicio</button></a></li>
        <li><a href = "/products-login" ><button class="boton" >Productos</button></a></li>
        <li><a href = "/contact-on" ><button class="boton" >Contacto</button></a></li>
          <li><button (click)="cerrarSesion()">Cerrar Sesión</button></li>
      </ul>
  </nav>
</header>

<div class="contenedorAbsoluto">
  <div class="user-container">
    <i class="fas fa-user-circle user-icon"></i>
    <div class="user-info">
      <p>👤 Usuario:<br><span class="user-name">{{ ' ' + nombre + ' ' }}{{ apellido }}</span></p>
      <p>🎭 Rol:<br><span class="user-role">{{ tipoUsuario }}</span></p>
    </div>
</div>

    <div class="admin-container">
        <h1>Panel de Administración</h1>
        <div class="button-container">
          <button (click)="navigateToUsers()" class="admin-button">Gestionar Usuarios</button>
          <button (click)="navigateToProducts()" class="admin-button">Gestionar Productos</button>
        </div>
      </div>
    
    <div></div>
</div>
 
