<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
          <li><a href="/home">Inicio</a></li>
          <li><a href="/login">Igresar</a></li>
          <li><a href="/register">Registro</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
  </nav>
</header>

<div class="contenedorAbsoluto">
    <div></div>

    <div class="admin-container">
        <h1>Panel de Administración</h1>
        <div class="button-container">
          <button (click)="navigateToUsers()" class="admin-button">Gestionar Usuarios</button>
          <button (click)="navigateToProducts()" class="admin-button">Gestionar Productos</button>
        </div>
      </div>
    
    <div></div>
</div>
 
<footer>
  <p>&copy; 2024 myStore. Todos los derechos reservados.</p>
  <div class="social-media">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      </div>
</footer>