<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
          <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
          <li><a href = "/home-on" ><button class="boton" >Inicio</button></a></li>
          <li><a href = "/products-login" ><button class="boton" >Productos</button></a></li>
          <li><a href = "/contact-on" ><button class="boton" >Contacto</button></a></li>
          <li><button (click)="cerrarSesion()">Cerrar Sesión</button></li>
      </ul>
  </nav>
</header>
<div class="contenedorAbsoluto">
  <div class="user-container">
    <i class="fas fa-user-circle user-icon"></i>
    <div class="user-info">
      <p>👤 Usuario:<br><span class="user-name">{{ ' ' + nombre + ' ' }}{{ apellido }}</span></p>
      <p>🎭 Rol:<br><span class="user-role">{{ tipoUsuario }}</span></p>
    </div>
</div>

    <div class="manage-users-container">
      <h2>Gestionar Usuarios</h2>
  
      <!-- Botón para crear usuario -->
      <button (click)="mostrarFormularioCrear()" class="create-button">Crear Usuario</button>
      
      <div class="search-container">
        <input type="text" placeholder="Buscar por cédula" [(ngModel)]="searchField" class="search-input"/>
        <button (click)="buscarUsuario()" class="search-button">Buscar Usuario</button>
      </div>
    
      <div *ngIf="usuarioEncontrado" class="user-info">
        <h3>Información del Usuario</h3>
        <p><strong>Nombre:</strong> {{ usuarioEncontrado.nombre }}</p>
        <p><strong>Apellido:</strong> {{ usuarioEncontrado.apellido }}</p>
        <p><strong>Cédula:</strong> {{ usuarioEncontrado.cedula }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ usuarioEncontrado.fechaNacimiento | date }}</p>
        <p><strong>Email:</strong> {{ usuarioEncontrado.email }}</p>
        <p><strong>Tipo de Usuario:</strong> {{ usuarioEncontrado.tipoUsuario }}</p>
        
        <div class="button-container">
          <button (click)="mostrarFormularioModificar()" class="modify-button">Modificar Información</button>
          <button (click)="eliminarUsuario()" class="delete-button">Eliminar Usuario</button>
        </div>
      </div>
  
      <!-- Formulario para modificar la información del usuario -->
    <div *ngIf="modificarFormVisible" class="modify-form">
      <h3>Modificar Información del Usuario</h3>
      <form (ngSubmit)="modificarUsuario()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="usuarioEncontrado.nombre" name="nombre" required/>
  
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="usuarioEncontrado.apellido" name="apellido" required/>
  
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="usuarioEncontrado.email" name="email" required/>
  
        <button type="submit" class="submit-button">Guardar Cambios</button>
        <button (click)="cancelarModificacion()" class="cancel-button">Cancelar</button>
      </form>
    </div>
  
    <!-- Formulario para crear un nuevo usuario -->
    <div *ngIf="crearFormVisible" class="create-form">
      <h3>Crear Nuevo Usuario</h3>
      <form (ngSubmit)="crearUsuario()">
          <label for="nuevoNombre">Nombre:</label>
          <input type="text" id="nuevoNombre" [(ngModel)]="nuevoUsuario.nombre" name="nuevoNombre" required/>
  
          <label for="nuevoApellido">Apellido:</label>
          <input type="text" id="nuevoApellido" [(ngModel)]="nuevoUsuario.apellido" name="nuevoApellido" required/>
  
          <label for="nuevoCedula">Cédula:</label>
          <input type="text" id="nuevoCedula" [(ngModel)]="nuevoUsuario.cedula" name="nuevoCedula" required/>
  
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input type="date" id="fechaNacimiento" [(ngModel)]="nuevoUsuario.fechaNacimiento" name="fechaNacimiento" required/>
  
          <label for="nuevoEmail">Email:</label>
          <input type="email" id="nuevoEmail" [(ngModel)]="nuevoUsuario.email" name="nuevoEmail" required/>
  
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" required/>
  
          <label for="tipoUsuario">Tipo de Usuario:</label>
          <select id="tipoUsuario" [(ngModel)]="nuevoUsuario.tipoUsuario" name="tipoUsuario" required>
              <option value="general">General</option>
              <option value="admin">Admin</option>
          </select>
  
          <div class="button-container">
              <button type="submit" class="submit-button">Crear Usuario</button>
              <button (click)="cancelarCreacion()" class="cancel-button">Cancelar</button>
          </div>
      </form>
    </div>
  </div>
    
    <div></div>
</div>
<footer>
  <p>&copy; 2024 myStore. Todos los derechos reservados.</p>
  <div class="social-media">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      </div>
</footer>  