<div class="contenedorAbsoluto">
    <div></div>

    <main>
        <section class="hero">
            <h2>Bienvenido a myStore</h2>
            <p class="sub">Tu tienda online de celulares de última generación. Aquí encontrarás los modelos más recientes y las mejores ofertas.</p>
            <a href="#" class="btn">Explorar Productos</a>
        </section>
    
        <section class="about-us">
            <h2>Quiénes Somos</h2>
            <p>En myStore, estamos dedicados a ofrecerte los mejores dispositivos móviles en Barranquilla. Nos encontramos en la Calle Ficticia #123, donde podrás experimentar la calidad y el servicio que nos caracteriza.</p>
            <p>Nuestro equipo está formado por expertos en tecnología que están listos para ayudarte a encontrar el celular perfecto para ti. Con años de experiencia en el mercado, garantizamos la satisfacción de nuestros clientes.</p>
            <p>¡Visítanos y descubre todo lo que tenemos para ofrecerte!</p>
        </section>
    
        <section class="calidad">
            <img src="/assets/calidad.png" alt="calidad certificada" class="cer">
        </section>
    </main>
    
    <div></div>
</div>
