<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
        <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
        <li><a href = "/home" ><button class="boton" >Inicio</button></a></li>
        <li><a href = "/products" ><button class="boton" >Productos</button></a></li>
        <li><a href = "/contact" ><button class="boton" >Contacto</button></a></li>
      </ul>
  </nav>
</header>
<div class="contenedorAbsoluto">
  <div></div>

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Inicio de Sesión</h2>
  
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          <!-- Mensaje de error para el campo de correo -->
          <p *ngIf="loginForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</p>
          <p *ngIf="loginForm.get('email')?.errors?.['email']">El formato del correo electrónico no es válido.</p>
        </div>
      </div>
  
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <!-- Cambié el type a "password" para ocultar la contraseña -->
        <input type="password" id="contrasena" formControlName="contrasena" required>
        <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" class="error-message">
          <!-- Mensaje de error para el campo de contraseña -->
          <p *ngIf="loginForm.get('contrasena')?.errors?.['required']">La contraseña es obligatoria.</p>
          <p *ngIf="loginForm.get('contrasena')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</p>
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
  
      <!-- Mensaje general de login -->
      <p>{{ loginMessage }}</p>
    </form>
  </div>
  
  
  <div></div>
</div>
