<header>
    <div class="logo">
        <div class="phone-icon">
            <div class="cell">📱</div>
        </div>
        <span>myStore</span>
    </div>
    <nav>
        <ul class="lista">
            <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
            <li><a href = "/home-on" ><button class="boton" >Inicio</button></a></li>
            <li><a href = "/products-login" ><button class="boton" >Productos</button></a></li>
            <li><a href = "/contact-on" ><button class="boton" >Contacto</button></a></li>
                <li><button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        </ul>
    </nav>
</header>
<div class="contenedorAbsoluto">
        <div></div>

    <div class="contact-container">
        <h1>Contacto</h1>
            
        <p id="centro">Para consultas, no dudes en ponerte en contacto con nosotros:</p>
        
        <div class="contact-info">
        <h2>Información de Contacto</h2>
        <p><strong>Teléfono:</strong> +1 234 567 890</p>
        <p><strong>Correo Electrónico:</strong> contactoejemplo.com</p>
        <p><strong>Dirección:</strong> Calle Ejemplo 123, Ciudad, País</p>
        </div>
        
        <div id="centro" class="social-media">
        <h2>Síguenos en Redes Sociales</h2>
        <p>
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a> |
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </p>
    </div>
</div>


