<header>
  <div class="logo">
      <div class="phone-icon">
          <div class="cell">📱</div>
      </div>
      <span>myStore</span>
  </div>
  <nav>
      <ul class="lista">
          <li><a href="/home">Inicio</a></li>
          <li><a href="/login">Igresar</a></li>
          <li><a href="/register">Registro</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
  </nav>
</header>

<div class="contenedorAbsoluto">
  <div></div>

  <div class="registro-container">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="registro-form">
      <h2>Registro de Usuario</h2>
      
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" required>
      </div>
  
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido" required>
      </div>
  
      <div class="form-group">
        <label for="cedula">Cedula:</label>
        <input type="text" id="cedula" formControlName="cedula" required>
      </div>
  
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required>
      </div>
  
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
  
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" formControlName="contrasena" required>
      </div>
  
      <button type="submit" [disabled]="!registroForm.valid" class="btn-submit">Registrar</button>
      
      <p class="form-footer">
        ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
      </p>
    </form>
  </div>
  
  <div></div>
</div>
<footer>
  <p>&copy; 2024 myStore. Todos los derechos reservados.</p>
  <div class="social-media">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      </div>
</footer> 