<header>
    <div class="logo">
        <div class="phone-icon">
            <div class="cell">📱</div>
        </div>
        <span>myStore</span>
    </div>
    <nav>
        <ul class="lista">
            <li><a href = "/admin" ><button class="boton" *ngIf="isAdmin()" >ADMIN</button></a></li>
        <li><a href = "/home-on" ><button class="boton" >Inicio</button></a></li>
        <li><a href = "/products-login" ><button class="boton" >Productos</button></a></li>
        <li><a href = "/contact-on" ><button class="boton" >Contacto</button></a></li>
            <li><button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        </ul>
    </nav>
</header>
    <div class="contenedorAbsoluto">
        <div class="user-container">
            <i class="fas fa-user-circle user-icon"></i>
            <div class="user-info">
              <p>👤 Usuario:<br><span class="user-name">{{ ' ' + nombre + ' ' }}{{ apellido }}</span></p>
              <p>🎭 Rol:<br><span class="user-role">{{ tipoUsuario }}</span></p>
            </div>
        </div>

        <main>
            <section class="hero">
                <h2>Bienvenido a myStore</h2>
                <p class="sub">Tu tienda online de celulares de última generación. Aquí encontrarás los modelos más recientes y las mejores ofertas.</p>
                <a href="/products-login" class="btn">Explorar Productos</a>
            </section>
        
            <section class="about-us">
                <h2>Quiénes Somos</h2>
                <p>En myStore, estamos dedicados a ofrecerte los mejores dispositivos móviles en Barranquilla. Nos encontramos en la Calle Ficticia #123, donde podrás experimentar la calidad y el servicio que nos caracteriza.</p>
                <p>Nuestro equipo está formado por expertos en tecnología que están listos para ayudarte a encontrar el celular perfecto para ti. Con años de experiencia en el mercado, garantizamos la satisfacción de nuestros clientes.</p>
                <p>¡Visítanos y descubre todo lo que tenemos para ofrecerte!</p>
            </section>
        
            <section class="calidad">
                <img src="/assets/calidad.png" alt="calidad certificada" class="cer">
            </section>
        </main>
        
        <div></div>
    </div>
